{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <div class="row flex">
            <div class="column width-6 offset-3 center">
                <div class="widget">
                    <h3 class="widget-title mb-30">Join the community of photo buffs today!</h3>
                    <div class="signup-form-container">
                        <form class="signup-form merged-form-elements" action="" method="post" novalidate>
                            <div class="row">
                                <div class="column width-8">
                                    <div class="field-wrapper">
                                        <input type="email" name="email" class="form-email form-element" placeholder="Email address*" tabindex="2" required>
                                    </div>
                                </div>
                                <div class="column width-4">
                                    <input type="submit" value="Join Now" class="form-submit button bkg-charcoal bkg-hover-theme color-white color-hover-white">
                                </div>
                            </div>
                            <input type="text" name="honeypot" class="form-honeypot form-element">
                        </form>
                        <div class="form-response"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="column width-12">
                <div class="footer-bottom-inner">
                    <p class="copyright pull-left clear-float-on-mobile">&copy; ThemeMountain. All Rights Reserved. <a href="#" class="scroll-to-top" data-no-hide>Back Top</a></p>
                    <ul class="social-list list-horizontal pull-right clear-float-on-mobile left">
                        <li><a href="#"><span class="icon-twitter small"></span></a></li>
                        <li><a href="#"><span class="icon-facebook small"></span></a></li>
                        <li><a href="#"><span class="icon-dribbble small"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

