{% load static %}
<!-- Footer -->
<footer class="footer bkg-brown center">
				<div class="footer-top">
					<div class="row flex">
						<div class="column width-4 push-4 center">
							<h4 class="widget-title no-margin-bottom">
                                <div class="logo-compact">
                                <div class="logo m-auto">
                                    <h3 class="desinem color-tan">PETPLS</h3>
{#                                    <a href="index.html"><img src="{% static 'images/logo/petpls_logo.png' %}"#}
{#                                                              alt="Petpls Logo"/></a>#}
                                </div>
                                </div>
</h4>
							<ul class="social-list list-horizontal mt-20">
                                <li><a href="#instagram-modal" class="nav-icon lightbox-link" data-content="inline" data-aux-classes="tml-promotion-modal tml-padding-small tml-swap-exit-light" data-toolbar="" data-modal-mode data-modal-width="1140" data-lightbox-animation="fadeIn"><img class="social-icon" src={% static 'images/logo/instagram-logo.png'%}></a></li>
                                <li><a href="#xiaohongshu-modal" class="nav-icon lightbox-link" data-content="inline" data-aux-classes="tml-promotion-modal tml-padding-small tml-swap-exit-light" data-toolbar="" data-modal-mode data-modal-width="1140" data-lightbox-animation="fadeIn"><img class="social-icon" src={% static 'images/logo/Xiaohongshu-logo.png'%}></a></li>
                                <li><a href="#wechat-modal" class="nav-icon lightbox-link" data-content="inline" data-aux-classes="tml-promotion-modal tml-padding-small tml-swap-exit-light" data-toolbar="" data-modal-mode data-modal-width="1140" data-lightbox-animation="fadeIn"><img class="social-icon" src={% static 'images/logo/wechat-logo.png'%}></a></li>
                            </ul>
						</div>
						<div class="column width-4 pull-4 center color-tan">
							<div class="widget">
								<address>6386 No. 3 Rd #165,<br>
                                    Richmond,
                                    BC V6Y 2B3, CANADA.</address>
							</div>
						</div>
						<div class="column width-4 center color-tan">
							<div class="widget">
                        <table class="business-hours-table">
                            <tbody class="business-hours">
                            <tr>
                                <td>Monday</td>
                                <td>10AM - 8PM</td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td>CLOSED</td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>10AM - 8PM</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>10AM - 8PM</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>10AM - 9PM</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>12PM - 9PM</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td>12PM - 9PM</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <p>CATROOM VISIT START AT 12PM</p>
							</div>
						</div>
						<div class="column width-12 center color-tan">
							<p class="copyright clear-float">
                                Copyright © 2023 Petpls All Rights Reserved.
							</p>
						</div>
					</div>
				</div>
			</footer>
<!-- Footer End -->

