{% load static %}
<!-- Footer -->
<footer class="footer bkg-brown center">
				<div class="footer-top">
					<div class="row flex">
						<div class="column width-4 push-4 center">
							<h4 class="widget-title no-margin-bottom">
                                <div class="logo-compact">
                                <div class="logo m-auto">
                                    <h3 class="desinem color-tan">Petpls</h3>
{#                                    <a href="index.html"><img src="{% static 'images/logo/petpls_logo.png' %}"#}
{#                                                              alt="Petpls Logo"/></a>#}
                                </div>
                                </div>
</h4>
							<ul class="social-list list-horizontal mt-20">
                                <li><a href="#" class="nav-icon"><span class="color-tan icon-instagram medium"></span></a></li>
                                <li><a href="#" class="nav-icon"><span class="color-tan icon-facebook medium"></span></a></li>
                            </ul>
						</div>
						<div class="column width-4 pull-4 center color-tan">
							<div class="widget">
								<address>6386 No. 3 Rd #165,<br>
                                    Richmond,
                                    BC V6Y 2B3, CANADA.</address>
							</div>
						</div>
						<div class="column width-4 center color-tan">
							<div class="widget">
								<p class="text-uppercase no-margin-bottom">Mon - Sun: 1pm to 8:30pm (Cat Room)<br>
                                    Mon - Sun: 8am to 8:30pm (Pet Supply and Coffee)</p>
							</div>
						</div>
						<div class="column width-12 center color-tan">
							<p class="copyright clear-float">
                                Copyright © 2023 Petpls All Rights Reserved.
							</p>
						</div>
					</div>
				</div>
			</footer>
<!-- Footer End -->

