{% load my_tag %}
{% load static %}
<!-- Header -->
<header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="window-height"
        data-compact-threshold="window-height">
    <div class="header-inner">
        <div class="progress_wrapper">
            <div class="progress_bar"></div>
        </div>
        <div class="row nav-bar">
            <div class="column width-12 nav-bar-inner">
                <div class="logo">
                    <div class="logo-inner">
                        <a href="{% url 'index' %}"><img src="{% static 'images/logo/petpls_logo_white.png' %}" alt="Petpls Logo"/></a>
                        <a href="{% url 'index' %}"><img src="{% static 'images/logo/petpls_logo.png' %}"
                                                  alt="Petpls Logo"/></a>
                    </div>
                </div>
                <nav class="navigation nav-block secondary-navigation nav-right">
                    <ul>
                        <li class="social-list-header">
                            <div class="v-align-middle">
                                <ul class="social-list list-horizontal">
                                    <li><a href="#instagram-modal" class="nav-icon lightbox-link" data-content="inline" data-aux-classes="tml-promotion-modal tml-padding-small tml-swap-exit-light" data-toolbar="" data-modal-mode data-modal-width="1140" data-lightbox-animation="fadeIn"><img class="social-icon" src={% static 'images/logo/instagram-logo.png'%}></a></li>
                                    <li><a href="#xiaohongshu-modal" class="nav-icon lightbox-link" data-content="inline" data-aux-classes="tml-promotion-modal tml-padding-small tml-swap-exit-light" data-toolbar="" data-modal-mode data-modal-width="1140" data-lightbox-animation="fadeIn"><img class="social-icon" src={% static 'images/logo/Xiaohongshu-logo.png'%}></a></li>
                                    <li><a href="#wechat-modal" class="nav-icon lightbox-link" data-content="inline" data-aux-classes="tml-promotion-modal tml-padding-small tml-swap-exit-light" data-toolbar="" data-modal-mode data-modal-width="1140" data-lightbox-animation="fadeIn"><img class="social-icon" src={% static 'images/logo/wechat-logo.png'%}></a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="aux-navigation hide">
                            <!-- Aux Navigation -->
                            <a href="#" class="navigation-show side-nav-show nav-icon">
                                <span class="icon-menu"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="navigation nav-block primary-navigation sub-menu-indicator nav-right no-margin-right">
                    <ul>
                        <li class="{% current 'index' %}">
                            <a href="{% url 'index' %}">HOME</a>
                        </li>
                        <li class="contains-sub-menu {% current 'cats' %}">
                            <a href="{% url 'cats' %}">THE CATS</a>
                            <ul class="sub-menu">
                                <li class="{% current 'cats' %}">
                                    <a href="{% url 'cats' %}">Currrent Cats</a>
                                </li>
                            </ul>
                        </li>
                        <li class="{% current 'contact' %}">
                            <a href="{% url 'contact' %}">CONTACT US</a>
                        </li>
                        <li class="{% current 'booking' %}">
                            <a href="{% url 'booking' %}">BOOK ONLINE</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

