{% load static %}
				<div id="instagram-modal" class="hide">

					<div class="show-media-column-on-mobile">
						<div class="">
                            <img src="{% static 'images/logo/instagram-QR-code.jpeg' %}">
						</div>
					</div>
                </div>
<div id="xiaohongshu-modal" class="hide">

    <div class="show-media-column-on-mobile">
        <div class="width-12">
            <img src="{% static 'images/logo/xiaohongshu-QR-code.png' %}">
        </div>
    </div>
</div>
<div id="wechat-modal" class="hide">

    <div class="show-media-column-on-mobile">
        <div class="width-12">
            <img src="{% static 'images/logo/wechat-QR-code.jpeg' %}">
        </div>
    </div>
</div>
