{% load static %}
{% load my_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <title>{% block page_name %}{% endblock page_name %}| PETPLS</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <meta name="description" content="We serve great beverages and some pastries. We are open to customers above 4 years old and we do appreciate your interests! To make sure all the cats are in healthy and energetic conditions, our cat room visit starts at 1 pm"/>
    <meta name="keywords" content="cat cafe, cat, cats, cafe, pet, cat adoption, foster cats, pet adoption, foster pets, cute cat, grooming, pet supply, coffee, bread">

    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="{% static 'css/core.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/skin-mobile-application.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/form-validation/css/formValidation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    {% block css %}
    {% endblock %}

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop home-page">

<!-- Side Navigation Menu -->
<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
    <div class="side-navigation-scroll-pane">
        <div class="side-navigation-inner">
            <div class="side-navigation-header">
                <div class="navigation-hide side-nav-hide">
                    <a href="#">
                        <span class="icon-cancel medium"></span>
                    </a>
                </div>
            </div>
            <nav class="side-navigation">
                <ul>
                    <li class="{% current 'index' %}">
                        <a href="{% url 'index' %}">HOME</a>
                    </li>
                    <li class="{% current 'cats' %}">
                        <a href="{% url 'cats' %}" class="contains-sub-menu">THE CATS</a>
                        <ul class="sub-menu">
                            <li class="{% current 'cats' %}">
                                <a href="{% url 'cats' %}">Current Cats</a>
                            </li>
{#                            <li>#}
{#                                <a href="index-mobile-application.html">Foster a Cat</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="index-mobile-application.html">Adoptions</a>#}
{#                            </li>#}
                        </ul>
                    </li>
                    <li class="{% current 'contact' %}">
                        <a href="{% url 'contact' %}">CONTACT US</a>
                    </li>
                    <li class="{% current 'booking' %}">
                        <a href="{% url 'booking' %}">BOOKING</a>
                    </li>
                </ul>
            </nav>
            <div class="side-navigation-footer">
                <ul class="social-list list-horizontal">
                    <li><a href="#"><span class="icon-instagram small"></span></a></li>
                    <li><a href="#"><span class="icon-facebook small"></span></a></li>
                </ul>
                <p class="copyright no-margin-bottom">&copy; 2023 PETPLS.</p>
            </div>
        </div>
    </div>
</aside>
<!-- Side Navigation Menu End -->

<div class="wrapper reveal-side-navigation">
    <div class="wrapper-inner">

        {% include 'partials/header.html' %}

        {% block content %}
        {% endblock %}

        {% include 'partials/footer.html' %}
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{#	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>#}
	<script src="{% static 'js/timber.master.min.js' %}"></script>
    <script defer src="{% static 'plugins/form-validation/js/formValidation.min.js' %}"></script>
    <script defer src="{% static 'plugins/form-validation/js/framework/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'js/contact-form.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>