{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Your-Title-Here" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="Your-Image-Url" />
	<meta property="og:description" content="Your-Page-Description" />
	<title>Sartre | Multipurpose HTML5 Template - Mobile Application</title>

    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="{% static 'css/core.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/skin-mobile-application.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    {% block css %}
    {% endblock %}

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop home-page">

<!-- Side Navigation Menu -->
<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
    <div class="side-navigation-scroll-pane">
        <div class="side-navigation-inner">
            <div class="side-navigation-header">
                <div class="navigation-hide side-nav-hide">
                    <a href="#">
                        <span class="icon-cancel medium"></span>
                    </a>
                </div>
            </div>
            <nav class="side-navigation">
                <ul>
                    <li class="current">
                        <a href="{% url 'index' %}">HOME</a>
                    </li>
                    <li>
                        <a href="{% url 'cats' %}" class="contains-sub-menu">THE CATS</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="{% url 'cats' %}">Current Cats</a>
                            </li>
                            <li>
                                <a href="index-mobile-application.html">Foster a Cat</a>
                            </li>
                            <li>
                                <a href="index-mobile-application.html">Adoptions</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">CONTACT US</a>
                    </li>
                </ul>
            </nav>
            <div class="side-navigation-footer">
                <ul class="social-list list-horizontal">
                    <li><a href="#"><span class="icon-instagram small"></span></a></li>
                    <li><a href="#"><span class="icon-facebook small"></span></a></li>
                </ul>
                <p class="copyright no-margin-bottom">&copy; 2023 PETPLS.</p>
            </div>
        </div>
    </div>
</aside>
<!-- Side Navigation Menu End -->

<div class="wrapper reveal-side-navigation">
    <div class="wrapper-inner">

        {% include 'partials/header.html' %}

        {% block content %}
        {% endblock %}

        {% include 'partials/footer.html' %}
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="{% static 'js/timber.master.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>