{% extends "base.html" %}
{% load static %}
{% block page_name %}
    THE CATS
{% endblock page_name %}

{% block content %}
    <!-- Content -->
    <div class="content clearfix">

        <!-- Hero section -->
        <section class="section-block feature-3 bkg-tan">
{#                                <img class="mouse auto-tee" width="100" height="100" src="{% static 'images/yarn_ball.png' %}" alt=""/>#}
            <div class="row flex justify-center">
                <div class="column width-8 center">
                    <div class="feature-content">
                        <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                            <h1 class="color-brown mb-0 title-xlarge desinem clip-text" style="background-image: url({% static 'images/cat-bg.jpg' %})">LET ME INTRODUCE OUR LOVELY CATS</h1>
                        </div>
                    </div>
                </div>
                <div class="circle"></div>
            </div>
{#            <img class="treat-4" src="{% static 'images/cat03.png' %}" alt="">#}
{#            <img class="treat-2" src="{% static 'images/cat03.png' %}" alt="">#}
{#            <img class="treat-3" src="{% static 'images/cat03.png' %}" alt="">#}

        </section>
        <div class="hero-cat">
            <img class="hero-cat-img" src="{% static 'images/cat-3.png' %}">
        </div>
        <!-- Hero section -->

        <div class="wave-bottom bkg-white pb-20p">
          <svg class="svg2" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="M0,10 C150,80 250,0 500,10 L500,00 L0,0 z" style="stroke: none; fill:#d2b18f;"></path>
          </svg>
        </div>

				<!-- About -->
				<section id="features">

					<!-- Hashbrown -->
					<div class="section-block feature-3 bkg-white color-brown cat-intro">
{#                                    <img class="treat-1" src="{% static 'images/treat.png' %}" alt="">#}
{#                                    <img class="treat-2" src="{% static 'images/treat.png' %}" alt="">#}
{#                                    <img class="treat-3" src="{% static 'images/treat.png' %}" alt="">#}
						<div class="row flex">
							<div class="column width-5 offset-1">
								<div class="feature-content z-plus">
									<div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
										<h1 class="mb-20 font-3rem font-2rem-mobile horizon desinem" data-parallax="direction:vertical;speed:0.3;rotate:none;">HASHBROWN <img class="paw-print" src="{% static 'images/paw_print.png' %}"></h1>
										<h4 class="mb-20 horizon font-alt-1 weight-bold color-tan" data-parallax="direction:vertical;speed:0.1;rotate:none;">Filters In A Snap!</h4>
										<p class="lead">Take a photo and apply different filters to selected sections of any image to get a real photo studio effect. Simple and Straightforward.</p>
										<p>Dipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe.</p>
									</div>
								</div>
							</div>
							<div class="column width-5 center">
								<div class="feature-image">
									<div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40" data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
										<img class="border-rounded cat-img" src="{% static 'images/cats/hashbrown.jpg' %}" width="400" alt=""/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Feature Section 3 -->

                    <!-- Cold Foam -->
					<div class="section-block feature-3 bkg-white overflow-visible color-brown">
						<div class="row flex">
							<div class="column width-5 push-6">
								<div class="feature-content">
									<div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem" data-parallax="direction:vertical;speed:0.3;rotate:none;">COLD FOAM <img class="paw-print" src="{% static 'images/paw_print.png' %}"></h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan" data-parallax="direction:vertical;speed:0.1;rotate:none;">Filters In A Snap!</h4>
										<p class="lead">Cropping and resizing has never been this easy. Smart resize proposes the best crop ratio depending on the content of the image. Amazing!</p>
										<p>Dipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe.</p>
										<ul class="list-horizontal">
											<li><span class="icon-fingerprint medium color-grey"></span></li>
											<li><span class="icon-crop medium color-grey"></span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="column width-5 pull-6 offset-2 center">
								<div class="feature-image">
									<div class="feature-image-inner pt-20 no-padding-on-mobile horizon" data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Cold-Foam.jpg' %}" width="400" alt=""/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Feature Section 3 -->

                    <!-- Tang-Yuan -->
                    <div class="section-block feature-3 bkg-white color-brown">
                        <div class="row flex">
                            <div class="column width-5 offset-1">
                                <div class="feature-content z-plus">
                                    <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem" data-parallax="direction:vertical;speed:0.3;rotate:none;">TANG YUAN <img class="paw-print" src="{% static 'images/paw_print.png' %}"></h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan" data-parallax="direction:vertical;speed:0.1;rotate:none;">Filters In A Snap!</h4>
                                        <p class="lead">Take a photo and apply different filters to selected sections of any image to get a real photo studio effect. Simple and Straightforward.</p>
                                        <p>Dipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-5 center">
                                <div class="feature-image">
                                    <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40" data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Tang-yuan.jpg' %}" width="400" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature Section 3 -->

                    					<!-- Soy Milk 3 -->
					<div class="section-block feature-3 bkg-white overflow-visible color-brown">
						<div class="row flex">
							<div class="column width-5 push-6">
								<div class="feature-content">
									<div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem" data-parallax="direction:vertical;speed:0.3;rotate:none;">SOY MILK <img class="paw-print" src="{% static 'images/paw_print.png' %}"></h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan" data-parallax="direction:vertical;speed:0.1;rotate:none;">Filters In A Snap!</h4>
										<p class="lead">Cropping and resizing has never been this easy. Smart resize proposes the best crop ratio depending on the content of the image. Amazing!</p>
										<p>Dipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe.</p>
										<ul class="list-horizontal">
											<li><span class="icon-fingerprint medium color-grey"></span></li>
											<li><span class="icon-crop medium color-grey"></span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="column width-5 pull-6 offset-2 center">
								<div class="feature-image">
									<div class="feature-image-inner pt-20 no-padding-on-mobile horizon" data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Soy-Milk.jpeg' %}" width="400" alt=""/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Feature Section 3 -->

                    <!-- Goudan -->
                    <div class="section-block feature-3 bkg-white color-brown">
                        <div class="row flex">
                            <div class="column width-5 offset-1">
                                <div class="feature-content z-plus">
                                    <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem" data-parallax="direction:vertical;speed:0.3;rotate:none;">GOUDAN <img class="paw-print" src="{% static 'images/paw_print.png' %}"></h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan" data-parallax="direction:vertical;speed:0.1;rotate:none;">Filters In A Snap!</h4>
                                        <p class="lead">Take a photo and apply different filters to selected sections of any image to get a real photo studio effect. Simple and Straightforward.</p>
                                        <p>Dipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-5 center">
                                <div class="feature-image">
                                    <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40" data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Goudan.jpg' %}" width="400" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature Section 3 -->
                    <!-- Dumpling -->
                    <div class="section-block feature-3 bkg-white overflow-visible color-brown">
                        <div class="row flex">
                            <div class="column width-5 push-6">
                                <div class="feature-content">
                                    <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem" data-parallax="direction:vertical;speed:0.3;rotate:none;">DUMPLING <img class="paw-print" src="{% static 'images/paw_print.png' %}"></h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan" data-parallax="direction:vertical;speed:0.1;rotate:none;">Filters In A Snap!</h4>
                                        <p class="lead">Cropping and resizing has never been this easy. Smart resize proposes the best crop ratio depending on the content of the image. Amazing!</p>
                                        <p>Dipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe.</p>
                                        <ul class="list-horizontal">
                                            <li><span class="icon-fingerprint medium color-grey"></span></li>
                                            <li><span class="icon-crop medium color-grey"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-5 pull-6 offset-2 center">
                                <div class="feature-image">
                                    <div class="feature-image-inner pt-20 no-padding-on-mobile horizon" data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Dumpling.jpg' %}" width="400" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature Section 3 -->

                    <!-- Cold Brew -->
                    <div class="section-block feature-3 bkg-white color-brown">
                        <div class="row flex">
                            <div class="column width-5 offset-1">
                                <div class="feature-content z-plus">
                                    <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem" data-parallax="direction:vertical;speed:0.3;rotate:none;">COLD BREW <img class="paw-print" src="{% static 'images/paw_print.png' %}"></h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan" data-parallax="direction:vertical;speed:0.1;rotate:none;">Filters In A Snap!</h4>
                                        <p class="lead">Take a photo and apply different filters to selected sections of any image to get a real photo studio effect. Simple and Straightforward.</p>
                                        <p>Dipisicing elit, sed do eiusmod tempor incididun. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-5 center">
                                <div class="feature-image">
                                    <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40" data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Cold-Brew.jpg' %}" width="400" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature Section 3 -->

				</section>
				<!-- Features End -->
    <div class="wave-bottom bkg-brown">
        <svg class="svg2" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="M0,10 C150,80 250,0 500,10 L500,00 L0,0 z" style="stroke: none; fill:#ffffff;"></path>
        </svg>
    </div>

    <div class="section-block bkg-brown">

        <div class="column width-12 center">

            <h1 class="mb-50 mt-50 desinem color-tan">Book Your Visit<img class="cat-icon" width="40"
                                                                          src="{% static 'images/cat03.png' %}"></h1>
        </div>
    </div>
    <div class="section-block bkg-brown pb-0">

        <div class="row flex justify-center">
            <div class="column width-8">
                <div class="feature-content">
                    <iframe src="https://app.squarespacescheduling.com/schedule.php?owner=28415377"
                            title="Schedule Appointment" width="100%" height="800" frameBorder="0"></iframe>
                    <script src="https://embed.acuityscheduling.com/js/embed.js" type="text/javascript"></script>
                </div>
            </div>


            <img class="treat-1" src="{% static 'images/treat.png' %}" alt="">
            <img class="treat-2" src="{% static 'images/treat.png' %}" alt="">
            <img class="treat-3" src="{% static 'images/treat.png' %}" alt="">
        </div>

        <div class="wave-bottom bkg-tan pb-50">
            <svg class="svg2" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
                <path d="M0,10 C150,80 250,0 500,10 L500,00 L0,0 z" style="stroke: none; fill:#695142;"></path>
            </svg>
        </div>
    </div>
{% endblock %}
