{% extends "base.html" %}
{% load static %}
{% block page_name %}
    CATS
{% endblock page_name %}

{% block content %}
    <!-- Content -->
    <div class="content clearfix">

        <!-- Hero section -->
        <section class="section-block feature-3 bkg-tan">
{#                                <img class="mouse auto-tee" width="100" height="100" src="{% static 'images/yarn_ball.png' %}" alt=""/>#}
            <div class="row flex justify-center">
                <div class="column width-8 center">
                    <div class="feature-content">
                        <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                            <h1 class="color-brown mb-0 title-xlarge desinem clip-text" style="background-image: url({% static 'images/cat-bg.jpg' %})">LET ME INTRODUCE OUR LOVELY CATS</h1>
                        </div>
                    </div>
                </div>
                <div class="circle"></div>
            </div>
{#            <img class="treat-4" src="{% static 'images/cat03.png' %}" alt="">#}
{#            <img class="treat-2" src="{% static 'images/cat03.png' %}" alt="">#}
{#            <img class="treat-3" src="{% static 'images/cat03.png' %}" alt="">#}

        </section>
        <div class="hero-cat">
            <img class="hero-cat-img" width="500" src="{% static 'images/cat02.png' %}">
        </div>
        <!-- Hero section -->

        <div class="wave-bottom bkg-white pb-20p">
          <svg class="svg2" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="M0,10 C150,80 250,0 500,10 L500,00 L0,0 z" style="stroke: none; fill:#d2b18f;"></path>
          </svg>
        </div>

				<!-- About -->
				<section id="features">

					<!-- Hashbrown -->
					<div class="section-block feature-3 bkg-white color-brown cat-intro">
{#                                    <img class="treat-1" src="{% static 'images/treat.png' %}" alt="">#}
{#                                    <img class="treat-2" src="{% static 'images/treat.png' %}" alt="">#}
{#                                    <img class="treat-3" src="{% static 'images/treat.png' %}" alt="">#}
						<div class="row flex">
							<div class="column width-5 offset-1">
								<div class="feature-content z-plus">
									<div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem">HASHBROWN</h1>
										<h4 class="mb-20 horizon font-alt-1 weight-bold color-tan">Boy</h4>
{#										<p class="lead">He is one of the most curious boys, he likes to be petted all the time. He makes friends easily but his best friend is always bubu. A big fan of toys.</p>#}
										<p>He is one of the most curious boys, he likes to be petted all the time. He makes friends easily but his best friend is always bubu. A big fan of toys.</p>
									</div>
								</div>
							</div>
							<div class="column width-5 center">
								<div class="feature-image">
									<div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40" data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
										<img class="border-rounded cat-img" src="{% static 'images/cats/hashbrown.jpg' %}" width="400" alt=""/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Feature Section 3 -->

                    <!-- Cold Foam -->
					<div class="section-block feature-3 bkg-white overflow-visible color-brown">
						<div class="row flex">
							<div class="column width-5 push-6">
								<div class="feature-content">
									<div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem">COLD FOAM</h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan">Girl</h4>
										<p>Bubu’s fiancée. A bit shy and skittish, her favorite toy is the laser pointer. Don’t be surprised if she block the door of safety zone when other cats are trying to get out.</p>
									</div>
								</div>
							</div>
							<div class="column width-5 pull-6 offset-2 center">
								<div class="feature-image">
									<div class="feature-image-inner pt-20 no-padding-on-mobile horizon" data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Cold-Foam.jpg' %}" width="400" alt=""/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Feature Section 3 -->

                    <!-- Tang-Yuan -->
                    <div class="section-block feature-3 bkg-white color-brown">
                        <div class="row flex">
                            <div class="column width-5 offset-1">
                                <div class="feature-content z-plus">
                                    <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem">TANG YUAN</h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan">Boy</h4>
                                        <p>Goudan’s second son. They look almost the same but he has darker gloves and is a bit fatter than Goudan . He likes to squeeze himself into a very tight place.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-5 center">
                                <div class="feature-image">
                                    <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40" data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Tang-yuan.jpg' %}" width="400" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature Section 3 -->

                    					<!-- Soy Milk 3 -->
					<div class="section-block feature-3 bkg-white overflow-visible color-brown">
						<div class="row flex">
							<div class="column width-5 push-6">
								<div class="feature-content">
									<div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem">SOY MILK</h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan">Girl</h4>
										<p>Soy Milk is very sweet, like to climb on people’s shoulders. She always “Meow” to catch attention from everyone. The youngest one  in the house, and the most energetic one.</p>
									</div>
								</div>
							</div>
							<div class="column width-5 pull-6 offset-2 center">
								<div class="feature-image">
									<div class="feature-image-inner pt-20 no-padding-on-mobile horizon" data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Soy-Milk.jpeg' %}" width="400" alt=""/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Feature Section 3 -->

                    <!-- Goudan -->
                    <div class="section-block feature-3 bkg-white color-brown">
                        <div class="row flex">
                            <div class="column width-5 offset-1">
                                <div class="feature-content z-plus">
                                    <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem">GOUDAN</h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan">Boy</h4>
                                        <p>Goudan enjoys constantly being in your way and in front of your feet almost as much as he enjoys playing the victim when you accidentally trip over him. Loves brushing!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-5 center">
                                <div class="feature-image">
                                    <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40" data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Goudan.jpg' %}" width="400" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature Section 3 -->
                    <!-- Dumpling -->
                    <div class="section-block feature-3 bkg-white overflow-visible color-brown">
                        <div class="row flex">
                            <div class="column width-5 push-6">
                                <div class="feature-content">
                                    <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem">DUMPLING</h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan">Boy</h4>
                                        <p>Goudan’s son. Dumpling is an independent boy who enjoys his own freedom, he likes to spend time by his own. But as long as you get to know him, you will find out he is the most elegant gentleman.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-5 pull-6 offset-2 center">
                                <div class="feature-image">
                                    <div class="feature-image-inner pt-20 no-padding-on-mobile horizon" data-parallax="direction:vertical;speed:0.3;rotate:clockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Dumpling.jpg' %}" width="400" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature Section 3 -->

                    <!-- Cold Brew -->
                    <div class="section-block feature-3 bkg-white color-brown">
                        <div class="row flex">
                            <div class="column width-5 offset-1">
                                <div class="feature-content z-plus">
                                    <div class="feature-content-inner center-on-mobile pt-40 pt-mobile-80">
                                        <h1 class="mb-20 font-3rem horizon desinem">COLD BREW AKA bubu</h1>
                                        <h4 class="mb-20 horizon font-alt-1 weight-bold color-tan">Boy</h4>
                                        <p>LAZY! Always napping, but he will wake up immediately once he hears us opening the package of food. Always make strange sound like duck.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-5 center">
                                <div class="feature-image">
                                    <div class="feature-image-inner pt-20 no-padding-on-mobile horizon pd-40" data-parallax="direction:vertical;speed:0.3;rotate:anticlockwise;opacity:fade;">
                                        <img class="border-rounded cat-img" src="{% static 'images/cats/Cold-Brew.jpg' %}" width="400" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature Section 3 -->

				</section>
				<!-- Features End -->
    <div class="wave-bottom bkg-tan">
        <svg class="svg2" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="M0,10 C150,80 250,0 500,10 L500,00 L0,0 z" style="stroke: none; fill:#ffffff;"></path>
        </svg>
    </div>

    <div class="section-block bkg-tan">

        <div class="column width-12 center">

            <h1 class="mb-50 mt-50 desinem color-brown">Book Your Visit</h1>
        </div>
    </div>
    <div class="section-block bkg-tan pb-0">

        <div class="row flex justify-center pb-50">
            <div class="column width-8">
                <div class="feature-content">
                    <iframe src="https://app.squarespacescheduling.com/schedule.php?owner=28415377"
                            title="Schedule Appointment" width="100%" height="800" frameBorder="0"></iframe>
                    <script src="https://embed.acuityscheduling.com/js/embed.js" type="text/javascript"></script>
                </div>
            </div>


{#            <img class="treat-1" src="{% static 'images/treat.png' %}" alt="">#}
{#            <img class="treat-2" src="{% static 'images/treat.png' %}" alt="">#}
{#            <img class="treat-3" src="{% static 'images/treat.png' %}" alt="">#}
        </div>

        <div class="wave-bottom bkg-brown pb-50">
            <svg class="svg2" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
                <path d="M0,10 C150,80 250,0 500,10 L500,00 L0,0 z" style="stroke: none; fill:#d2b18f;"></path>
            </svg>
        </div>
    </div>
{% endblock %}
