<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<canvas id="canvas"></canvas>
<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.141.0/build/three.module.js",
      "GLTFLoader": "https://unpkg.com/three@0.141.0/examples/jsm/loaders/GLTFLoader.js"
    }
  }

</script>
<script type="module">

    import {GLTFLoader} from 'GLTFLoader';
    {#import {OrbitControls} from 'OrbitControls';#}
    import * as THREE from 'three'


    let scene = new THREE.Scene();
    let renderer = new THREE.WebGLRenderer({
        canvas: document.querySelector('#canvas'),
        antialias: true
    });
    renderer.outputEncoding = THREE.sRGBEncoding;

    // CAMERA
    let camera = new THREE.PerspectiveCamera(20, 1);
    {#const orbit = new OrbitControls(camera, renderer.domElement);#}

    camera.position.set(0, 50, 1000);
    camera.position.x = 5;
    camera.position.y = 100;

    {#orbit.update();#}

    scene.background = new THREE.Color('#d2b18f');
    let light = new THREE.DirectionalLight(0xffff00, 10);

    let loader = new GLTFLoader();
    let mixer;

    loader.load('../static/images/3D/scene.gltf', function (gltf) {
        const model = gltf.scene;
        scene.add(model);
        {#scene.add(gltf.scene);#}

        {#function animate() {#}
        {#    requestAnimationFrame(animate)#}
        {#    gltf.scene.rotation.y += 0.01;#}
        {#    renderer.render(scene, camera);#}
        {#animate();#}

        // Create an AnimationMixer, and get the list of AnimationClip instances
        mixer = new THREE.AnimationMixer(model);
        const clips = gltf.animations;

        // Update the mixer on each frame
        {#function update () {#}
        {#    mixer.update( deltaSeconds );#}

        // Play a specific animation
        const clip = THREE.AnimationClip.findByName(clips, 'Walk');
        console.log(clip);
        const action = mixer.clipAction(clip);
        action.play();

        {#$('#canvas').on('click', function(){#}
        {#    const clip = THREE.AnimationClip.findByName(clips, 'Bounce');#}
        {#    console.log(clip);#}
        {#    const action = mixer.clipAction(clip);#}
        {#    action.play();#}
        // Play all animations
        {#clips.forEach(function (clip) {#}
        {#    const action = mixer.clipAction(clip).play();#}
        {#    action.play()#}
    }, undefined, function (error) {
        console.error(error)
    });

    const clock = new THREE.Clock();

    function animate() {
        if (mixer)
            mixer.update(clock.getDelta());
        renderer.render(scene, camera);
    }

    renderer.setAnimationLoop(animate);

</script>

</body>
</html>